vendor/
node_modules/

.env
.env.local

/storage/logs/*
/storage/mail/*

coverage/
.phpunit.result.cache

.idea/
.vscode/

Thumbs.db
.DS_Store

composer.lock
package-lock.json

/public/build/

*.zip
*.tar
*.gz


.env
.env.production
/vendor
/node_modules
/storage/logs/*
